pyalsaaudio

python-dateutil
paho-mqtt
watchdog
requests==2.21.0
requests-jwt
spidev
gpiozero
langdetect
slugify
google-api-python-client
oauth2client
esptool
pyserial
selenium
pydub
terminaltables
PyInquirer
prompt_toolkit==1.0.14
click
pyyaml
boto3
google-cloud-texttospeech
flask
flask-classful
flask-login
googletrans
bcrypt
psutil
alice-sk
