pytest~=6.2.5
coverage~=6.3
pytest-cov~=3.0.0
coveralls~=3.3.1
numpy~=1.21.4
paho-mqtt~=1.6.1
googletrans~=3.0.0
langdetect~=1.0.9
Flask~=2.1.1
Flask-Cors~=3.0.10
Flask-Classful~=0.14.2
Markdown~=3.3.6
AliceGit~=0.0.10
requests~=2.27.1
sounddevice~=0.4.4
bcrypt~=3.2.0
PyJWT~=2.3.0
Pympler~=0.9
pydub~=0.25.1
htmlmin~=0.1.12
cssmin~=0.2.0
jsmin~=3.0.0
psutil~=5.9.0
pyserial~=3.5
pyyaml~=6.0
scipy~=1.7.3
webrtcvad~=2.0.10
Werkzeug~=2.1.1
Jinja2~=3.0.3
pyopenssl~=21.0.0
