enum34
django
pyalsaaudio
pyaudio
python-dateutil
paho-mqtt
watchdog
toml
requests==2.21.0
requests-jwt
spidev
gpiozero
langdetect
slugify
google-api-python-client
oauth2client
esptool
pyserial
selenium
pydub
terminaltables
PyInquirer
prompt_toolkit==1.0.14
colorama
pyyaml
