pyalsaaudio
python-dateutil==2.8.0
paho-mqtt
requests==2.21.0
esptool
pyserial
selenium
pydub
terminaltables
click
pyyaml
boto3
google-cloud-texttospeech
google-cloud-speech
flask
flask-classful
flask-login
googletrans
bcrypt
psutil
