pyalsaaudio
python-dateutil==2.8.0
paho-mqtt
watchdog
requests==2.21.0
requests-jwt
spidev
gpiozero
langdetect
slugify
google-api-python-client
oauth2client
esptool
pyserial
selenium
pydub
terminaltables
click
pyyaml
boto3
google-cloud-texttospeech
google-cloud-speech
flask
flask-classful
flask-login
googletrans
bcrypt
psutil
