git
python3-pip
libffi-dev
apt-transport-https
zip
unzip
mpg123
dirmngr
gcc
make
pkg-config
automake
libtool
libicu-dev
libpcre2-dev
libasound2-dev
portaudio19-dev
python3-pyaudio
mosquitto
mosquitto-clients
libxml2-dev
libxslt-dev
flac
libatlas-base-dev
gfortran
ffmpeg
