{% extends 'base.html' %}

{% block title %}
	{{ langData.admin }}
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.admin }}
{% endblock %}

{% block content %}
	<div id="adminPageTabsContainer">
		<ul>
			<li class="tab" data-for="AliceSettings">{{ langData.adminTabTitleSetting }}</li>
			<li class="tab" data-for="Utilities">{{ langData.adminTabTitleUtilities }}</li>
		</ul>
		<div class="tabsContent">
			<div id="AliceSettings">
				<form action="/admin/saveAliceSettings" name="config_for_{{ moduleName }}" method="post" autocomplete="off" novalidate>
					{% for settingName, settingValue in aliceSettings.items() if not settingName == 'modules' and not settingName == 'supportedLanguages' %}
						<div class="moduleConfigBox">
							<label class="configLabel" for="{{ settingName }}">{{ settingName }}</label>
							{% if settingValue is sameas true or settingValue is sameas false %}
								<input class="configInput" type="checkbox" name="{{ settingName }}" value="on" id="{{ settingName }}" {% if settingValue is sameas true %}checked{% endif %}>
								<!-- Make sure unchecked chexboxes send off data -->
								<input class="configInput" type="hidden" name="{{ settingName }}" value="off">
							{% elif 'password' in settingName.lower() or 'secret' in settingName.lower() %}
								<input class="configInput" type="password" name="{{ settingName }}" value="{{ settingValue }}" id="{{ settingName }}">
							{% else %}
								<input class="configInput" type="text" name="{{ settingName }}" value="{{ settingValue }}" id="{{ settingName }}">
							{% endif %}
						</div>
					{% endfor %}
					<input type="hidden" name="moduleName" value="{{ moduleName }}">
					<input class="configSaveButton" type="submit" value="{{ langData.save }}">
				</form>
			</div>
			<div id="Utilities">
				blablabla
			</div>
		</div>
	</div>
{% endblock %}
