{% extends 'base.html' %}

{% block title %}
	{{ langData.admin }}
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.admin }}
{% endblock %}

{% block content %}
	<div id="adminPageTabs">
		<ul>
			<li><a href="#AliceSettings">{{ langData.adminTabTitleSetting }}</a></li>
			<li><a href="#Utilities">{{ langData.adminTabTitleUtilities }}</a></li>
		</ul>
		<div id="AliceSettings">

		</div>
		<div id="Utilities">

		</div>
	</div>
{% endblock %}
