{% extends 'base.html' %}

{% block title %}
	{{ langData.admin }}
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/adminAuth.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.admin }}
{% endblock %}

{% block content %}
	<div id="username" class="adminAuthDisplayUser"></div>
	<div id="codeContainer" class="adminAuthKeyContainer">
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
	</div>
	<div class="adminAuthKeyboardContainer" id="adminAuthKeyboardContainer">
		<div class="adminAuthKeyboardKey">7</div>
		<div class="adminAuthKeyboardKey">8</div>
		<div class="adminAuthKeyboardKey">9</div>
		<div class="adminAuthKeyboardKey">4</div>
		<div class="adminAuthKeyboardKey">5</div>
		<div class="adminAuthKeyboardKey">6</div>
		<div class="adminAuthKeyboardKey">1</div>
		<div class="adminAuthKeyboardKey">2</div>
		<div class="adminAuthKeyboardKey">3</div>
		<div class="adminAuthKeyboardKey"><i class="fas fa-eraser" aria-hidden="true"></i></div>
		<div class="adminAuthKeyboardKey">0</div>
		<div class="adminAuthKeyboardKey"><i class="fas fa-backspace" aria-hidden="true"></i></div>
	</div>
{% endblock %}
