{% extends 'base.html' %}

{% block title %}
	{{ langData.admin }}
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.admin }}
{% endblock %}

{% block content %}
	<div id="adminPageTabsContainer">
		<ul>
			<li class="tab" data-for="AliceSettings">{{ langData.adminTabTitleSetting }}</li>
			<li class="tab" data-for="Utilities">{{ langData.adminTabTitleUtilities }}</li>
		</ul>
		<div class="tabsContent">
			<div id="AliceSettings" class="configBox">
				<form action="/admin/saveAliceSettings" name="config_for_{{ moduleName }}" method="post" autocomplete="off" novalidate>
					{% for settingName, settingValue in aliceSettings.items() if not settingName == 'modules' and not settingName == 'supportedLanguages' %}
						<div class="configLine">
							<label class="configLabel" for="{{ settingName }}">{{ settingName }}</label>
							<div class="configInput">
								{% if settingValue is sameas true or settingValue is sameas false %}
									<input type="checkbox" name="{{ settingName }}" value="on" id="{{ settingName }}" {% if settingValue is sameas true %}checked{% endif %}>
									<!-- Make sure unchecked chexboxes send off data -->
									<input type="hidden" name="{{ settingName }}" value="off">
								{% elif settingValue is number %}
									<input type="number" name="{{ settingName }}" value="{{ settingValue }}" id="{{ settingName }}">
								{% elif 'password' in settingName.lower() or 'secret' in settingName.lower() %}
									<input type="password" name="{{ settingName }}" value="{{ settingValue }}" id="{{ settingName }}">
								{% else %}
									<input type="text" name="{{ settingName }}" value="{{ settingValue }}" id="{{ settingName }}">
								{% endif %}
							</div>
						</div>
					{% endfor %}
					<input class="configSaveButton" type="submit" value="{{ langData.save }}">
				</form>
			</div>
			<div id="Utilities">
				blablabla
			</div>
		</div>
	</div>
{% endblock %}
