{% extends 'base.html' %}

{% block title %}
	{{ langData.admin }}
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/adminAuth.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.admin }}
{% endblock %}

{% block content %}
	<div class="centered">
		<!--suppress HtmlFormInputWithoutLabel -->
		<input type="text" id="username" class="adminAuthDisplayUser" autofocus/>
	</div>
	<div id="codeContainer" class="adminAuthKeyContainer">
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
		<div class="adminAuthDisplayDigit"><i class="fas fa-star-of-life" aria-hidden="true"></i></div>
	</div>
	<div class="adminAuthKeyboardContainer" id="adminAuthKeyboardContainer">
		<div class="adminAuthKeyboardKey button">7</div>
		<div class="adminAuthKeyboardKey button">8</div>
		<div class="adminAuthKeyboardKey button">9</div>
		<div class="adminAuthKeyboardKey button">4</div>
		<div class="adminAuthKeyboardKey button">5</div>
		<div class="adminAuthKeyboardKey button">6</div>
		<div class="adminAuthKeyboardKey button">1</div>
		<div class="adminAuthKeyboardKey button">2</div>
		<div class="adminAuthKeyboardKey button">3</div>
		<div class="adminAuthKeyboardKey button erase"><i class="fas fa-eraser" aria-hidden="true"></i></div>
		<div class="adminAuthKeyboardKey button">0</div>
		<div class="adminAuthKeyboardKey button backspace"><i class="fas fa-backspace" aria-hidden="true"></i></div>
	</div>
{% endblock %}
