{% extends 'base.html' %}

{% block title %}
	Alice Watch
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/alicewatch.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	Alice Watch
{% endblock %}

{% block content %}
	<div class="stick-top-right">
		<div class="toolbar">
			<div class="toolbarButton link-hover" id="stopScroll">
				<i class="fas fa-pause-circle" aria-hidden="true"></i>
			</div>
			<div class="toolbarButton link-hover" id="startScroll" style="display:none">
				<i class="fas fa-play-circle" aria-hidden="true"></i>
			</div>
			<div class="toolbarButton link-hover">
				<i class="fas fa-thermometer-empty active" data-verbosity="0" aria-hidden="true"></i>
			</div>
			<div class="toolbarButton link-hover">
				<i class="fas fa-thermometer-quarter" data-verbosity="1" aria-hidden="true"></i>
			</div>
			<div class="toolbarButton link-hover">
				<i class="fas fa-thermometer-half" data-verbosity="2" aria-hidden="true"></i>
			</div>
			<div class="toolbarButton link-hover">
				<i class="fas fa-thermometer-three-quarters" data-verbosity="3" aria-hidden="true"></i>
			</div>
			<div class="toolbarButton link-hover">
				<i class="fas fa-thermometer-full" data-verbosity="4" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="console" id="console">
	</div>
{% endblock %}
