<!doctype html>
<title>Project Alice - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='projectalice.css') }}">
<nav>
	<ul>
		<li onclick="location.href='/home';">{{ langData.home }}</li>
		<li onclick="location.href='/modules';">{{ langData.modules }}</li>
		<li onclick="location.href='/syslog';">{{ langData.syslog }}</li>
		<li onclick="location.href='/snipswatch';">{{ langData.snipswatch }}</li>
		<li onclick="location.href='/admin';">{{ langData.admin }}</li>
	</ul>
</nav>
<section class="page">
	<header>
		<div class="pageTitle">
			{% block header %}{% endblock %}
		</div>
	</header>
	<section class="content">
		{% block content %}{% endblock %}
	</section>
</section>