<!doctype html>
<title>Project Alice - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/regular.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/projectalice.css') }}">
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

{% block loaders %}{% endblock %}

<nav>
	<div class ="projectalice">
		Project Alice
	</div>
	<!-- <div class="pageTitle">
		{% block pageTitle %}{% endblock %}
	</div>
	-->
	<ul class="mainMenuList">
		<li class="mainMenuListItem" onclick="location.href='/home';">{{ langData.home }}</li>
		<li class="mainMenuListItem" onclick="location.href='/modules';">{{ langData.modules }}</li>
		<li class="mainMenuListItem" onclick="location.href='/syslog';">{{ langData.syslog }}</li>
		<li class="mainMenuListItem" onclick="location.href='/snipswatch';">{{ langData.snipswatch }}</li>
		<li class="mainMenuListItem" onclick="location.href='/admin';">{{ langData.admin }}</li>
		{% if aliceSettings['webInterfaceDevMode'] is sameas true %}
			<li class="mainMenuListItem" onclick="location.href='/devmode/';">{{ langData.devMode }}</li>
		{% endif %}
	</ul>
	<div class="theme-switch-wrapper">
		<label class="theme-switch" for="checkbox">
			<input type="checkbox" id="checkbox" />
			<div class="slider round"></div>
	  </label>
	  Darkmode
	</div>
	<script>
		const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

		function switchTheme(e) {
			if (e.target.checked) {
				document.documentElement.setAttribute('data-theme', 'dark');
			}
			else {
				document.documentElement.setAttribute('data-theme', 'light');
			}    
		}
		toggleSwitch.addEventListener('change', switchTheme, false);
	</script>
</nav>
<div class="page">
	<header>
		
		{% if aliceSettings['updateChannel'] != 'master' %}
			<div class="updateChannelMarker">
				{{ aliceSettings['updateChannel'] }}
			</div>
		{% endif %}
	</header>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
</div>
