<!doctype html>
<title>Project Alice - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/regular.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/projectalice.css') }}">
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

{% block loaders %}{% endblock %}

<nav>
	<ul class="mainMenuList">
		<li class="mainMenuListItem" onclick="location.href='/home';">{{ langData.home }}</li>
		<li class="mainMenuListItem" onclick="location.href='/modules';">{{ langData.skills }}</li>
		<li class="mainMenuListItem" onclick="location.href='/scenarios';">{{ langData.scenarios }}</li>
		<li class="mainMenuListItem" onclick="location.href='/syslog';">{{ langData.syslog }}</li>
		<li class="mainMenuListItem" onclick="location.href='/snipswatch';">{{ langData.snipswatch }}</li>
		<li class="mainMenuListItem" onclick="location.href='/admin';">{{ langData.admin }}</li>
		{% if aliceSettings['devMode'] is sameas true %}
			<li class="mainMenuListItem" onclick="location.href='/devmode/';">{{ langData.devMode }}</li>
		{% endif %}
	</ul>
</nav>
<section class="page">
	<header>
		<div class="pageTitle">
			{% block pageTitle %}{% endblock %}
		</div>
		{% if aliceSettings['updateChannel'] != 'master' %}
			<div class="updateChannelMarker">
				{{ aliceSettings['updateChannel'] }}
			</div>
		{% endif %}
	</header>
	<section class="content">
		{% block content %}{% endblock %}
	</section>
</section>
