{% extends 'base.html' %}

{% block title %}
	{{ langData.devMode }}
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/devmode.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.devMode }}
{% endblock %}

{% block content %}
	<div id="devmodeTabsContainer" class="tabsContainer">
		<ul>
			<li class="tab" data-for="NewSkill">{{ langData.devmodeNewSkill }}</li>
			<li class="tab" data-for="EditSkill">{{ langData.devmodeEditSkill }}</li>
		</ul>
		<div class="tabsContent">
			<div id="NewSkill" class="configBox">
				<form id="newSkillForm">
					<div class="configLine">
						<label class="configLabel" for="skillname">{{ langData.skillName }}</label>
						<div class="configInput">
							<input type="text" size="50" name="skillname" value="" id="skillname" required>
							<i class="fas fa-check" id="skillNameOk" aria-hidden="true" style="display: none;"></i>
							<i class="fas fa-times" id="skillNameKo" aria-hidden="true"></i>
						</div>
					</div>
					<div class="configLine">
						<label class="configLabel" for="skilldesc">{{ langData.skillDesc }}</label>
						<div class="configInput">
							<input type="text" size="50" name="skilldesc" value="" id="skilldesc" required>
							<i class="fas fa-check" id="skillDescOk" aria-hidden="true" style="display: none;"></i>
							<i class="fas fa-times" id="skillDescKo" aria-hidden="true"></i>
						</div>
					</div>
					<div class="configLine">
						<label class="configLabel">{{ langData.skillLanguage }}</label>
						<div class="configInput">
							<input type="checkbox" name="lang" value="en" id="en" checked="checked" disabled="disabled">
							<label for="en">{{ langData.english }}</label><br>
							<input type="checkbox" name="lang" value="fr" id="fr">
							<label for="fr">{{ langData.french }}</label><br>
							<input type="checkbox" name="lang" value="de" id="de">
							<label for="de">{{ langData.german }}</label><br>
							<input type="checkbox" name="lang" value="it" id="it">
							<label for="it">{{ langData.italian }}</label>
						</div>
					</div>
					<div class="configLine">
						<label class="configLabel" for="pipreq">{{ langData.pipreq }}</label>
						<div class="configInput">
							<input type="text" size="50" name="pipreq" value="" id="pipreq" placeholder="{{ langData.commaSeparatedExplanation }}">
						</div>
					</div>
					<div class="configLine">
						<label class="configLabel" for="sysreq">{{ langData.sysreq }}</label>
						<div class="configInput">
							<input type="text" size="50" name="sysreq" value="" id="sysreq"
								   placeholder="{{ langData.commaSeparatedExplanation }}">
						</div>
					</div>
					<div class="configLine">
						<label class="configLabel">{{ langData.conditions }}</label>
						<div class="configInput">
							<input type="checkbox" name="conditionOnline" id="conditionOnline">
							<label for="conditionOnline">{{ langData.conditionOnline }}</label><br><br>
							<input type="checkbox" name="conditionASRArbitrary" id="conditionASRArbitrary">
							<label for="conditionASRArbitrary">{{ langData.conditionASRArbitrary }}</label><br><br>
							<input type="text" size="50" name="conditionSkill" id="conditionSkill"
								   placeholder="{{ langData.commaSeparatedExplanation }}">
							<label for="conditionSkill">{{ langData.conditionSkill }}</label><br><br>
							<input type="text" size="50" name="conditionNotSkill" id="conditionNotSkill"
								   placeholder="{{ langData.commaSeparatedExplanation }}">
							<label for="conditionNotSkill">{{ langData.conditionNotSkill }}</label><br><br>
							<input type="text" size="50" name="conditionActiveManager" id="conditionActiveManager"
								   placeholder="{{ langData.commaSeparatedExplanation }}">
							<label for="conditionActiveManager">{{ langData.conditionActiveManager }}</label>
						</div>
					</div>
					<div class="configLine">
						<label class="configLabel" for="widgets">{{ langData.widgets }}</label>
						<div class="configInput">
							<input type="text" size="50" name="widgets" value="" id="widgets"
								   placeholder="{{ langData.commaSeparatedExplanation }}">
						</div>
					</div>
					<div class="configLine">
						<label class="configLabel">{{ langData.actions }}</label>
						<div class="buttonLine">
							<button type="button" class="button" id="createSkillButton" style="display: none;">{{ langData.createSkill }}</button>
							<button type="button" class="button" id="uploadSkillButton" style="display: none;">{{ langData.uploadSkillToGithub }}</button>
							<button type="button" class="button" id="resetSkillButton">{{ langData.resetSkill }}</button>
							<button type="button" class="button" id="goGithubButton" style="display: none;"></button>
						</div>
					</div>
				</form>
			</div>
			<div id="EditSkill" class="configBox flex-row">
				{% for skillName, skill in skills.items() %}
					<div id="editSkill_{{ skillName }}" class="tile skillTile">
						<div class="skillTitle">
							<div class="skillName">{{ skillName }}</div><i class="{{ skill.icon }}" aria-hidden="true"></i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
