{% extends 'base.html' %}

{% block header %}
	<script src="{{ url_for('static', filename='js/widgets.js') }}"></script>

	{% for widgetList in widgets.values() %}
		{% for widget in widgetList.values() %}
			<script src="{{ url_for('IndexView:widget_static', filename=widget.parent + '/js/' + widget.name + '.js') }}"></script>
			<link rel="stylesheet" href="{{ url_for('IndexView:widget_static', filename=widget.parent + '/css/common.css') }}">
			<link rel="stylesheet" href="{{ url_for('IndexView:widget_static', filename=widget.parent + '/css/' + widget.name + '.css') }}">
		{% endfor %}
	{% endfor %}

	{% block title %}{{ langData.home }}{% endblock %}
{% endblock %}

{% block content %}
	<div class="toolbar">
		<span class="toolbarButton" id="widgetCheck">
			<i class="fas fa-check-circle"></i>
		</span>
		<span class="toolbarButton" id="addWidget">
			<i class="fas fa-plus-circle"></i>
		</span>
		<span class="toolbarButton" id="removeWidget">
			<i class="fas fa-minus-circle"></i>
		</span>
	</div>
	<div id="addWidgetDialog" title="{{ langData.addWidgetTitle }}">
		{% for parentName, widgetList in widgets.items() %}
			<div class="addWidgetCategory">
				<div class="addWidgetCategoryTitle">
					{{ parentName }}
				</div>
				<div class="addWidgetList">
					{% for widgetName, widget in widgetList.items() %}
						<div class="addWidgetLine" id="addWidgetLine_{{ widget.parent }}_{{ widget.name }}" {% if (widget.state|int) == 0 %}style="display: block;" {% else %} style="display: none;"{% endif %}>
							<div class="addWidgetName">{{ widgetName }}</div>
							<div class="addWidgetCheck"><i class="fas fa-check-circle"></i></div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="widgetsPane">
		{% for parentName, widgetList in widgets.items() %}
			{% for widgetName, widget in widgetList.items() %}
				{% if (widget.state|int) == 1 %}
					<div class="widget {{ widget.size }}" id="{{ widget.parent }}_{{ widget.name }}" style="position: absolute; top: {{ widget.y }}px; left: {{ widget.x }}px;z-index: {{ widget.zindex }}">
						{{ widget.html()|safe }}
						<div class="widgetDelete">
							<i class="fas fa-minus-circle"></i>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
