{% extends 'base.html' %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
	<script src="{{ url_for('static', filename='js/widgets.js') }}"></script>

	{% for widgetList in widgets.values() %}
		{% for widget in widgetList.values() %}
			<script src="{{ url_for('IndexView:widget_static', filename=widget.parent + '/js/' + widget.name + '.js') }}"></script>
			<link rel="stylesheet" href="{{ url_for('IndexView:widget_static', filename=widget.parent + '/css/' + widget.name + '.css') }}">
		{% endfor %}
	{% endfor %}

	{% block title %}{{ langData.home }}{% endblock %}
{% endblock %}

{% block content %}
	<div class="toolbar">
		<span class="toolbarButton">
			<i class="fas fa-plus-circle"></i>
		</span>
		<span class="toolbarButton">
			<i class="fas fa-minus-circle"></i>
		</span>
	</div>
	<div class="widgetsPane">
		{% for parentName, widgetList in widgets.items() %}
			{% for widgetName, widget in widgetList.items() %}
				{% if widget.state == "1" %}
				<div class="widget {{ widget.size }}" id="{{ widget.parent }}_{{ widget.name }}" style="position: relative; top: {{ widget.y }}px; left: {{ widget.x }}px;">
					<div class="widgetDelete">
						<i class="fas fa-minus-circle"></i>
					</div>
					{{ widget.html()|safe }}
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
