{% extends 'base.html' %}

{% block header %}
	{% block title %}Modules{% endblock %}
{% endblock %}

{% block content %}
	{% for moduleName, module in modules.items() %}
		<div class="moduleTile">
			<div class="moduleTitle">
				<div class="moduleName">{{ moduleName }}</div>
				<div class="moduleVersion">v {{ module.version }}</div>
			</div>
			<div class="moduleAuthor">
				by {{ module.author }}
			</div>
			<div class="moduleStatus {% if module.active is sameas true %}active{% else %}disabled{% endif %}">
				Status: {% if module.active is sameas true %}enabled{% else %}disabled{% endif %}
			</div>
			<div class="moduleActions">
				<div class="moduleButton">
					{% if module.active is sameas true %}
						Disable
					{% else %}
						Enable
					{% endif %}
				</div>
				<div class="moduleButton">
					Delete
				</div>
				{% if module.updateAvailable is sameas true %}
				<div class="moduleButton">
					Update
				</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}