{% extends 'base.html' %}

{% block header %}
	<script src="{{ url_for('static', filename='js/modules.js') }}"></script>
	{% block title %}{{ langData.modules }}{% endblock %}
{% endblock %}

{% block content %}
	{% for moduleName, module in modules.items() %}
		<div id="config_for_{{ moduleName }}" title="{{ langData.moduleSettings }}">
			<form action="/modules/saveModuleSettings" name="config_for_{{ moduleName }}" method="post" autocomplete="off" novalidate>
				{% for configName, configValue in module.getModuleConfigs().items() %}
					<div class="moduleConfigBox">
						<label class="moduleConfigLabel" for="{{ configName }}">{{ configName }}</label>
						{% if configValue is sameas true or configValue is sameas false %}
							<input type="checkbox" name="{{ configName }}" value="on" id="{{ configName }}" {% if configValue is sameas true %}checked{% endif %}>
							<!-- Make sure unchecked chexboxes send off data -->
							<input type="hidden" name="{{ configName }}" value="off">
						{% else %}
							<input type="text" name="{{ configName }}" value="{{ configValue }}" id="{{ configName }}">
						{% endif %}
					</div>
				{% endfor %}
				<input type="hidden" name="moduleName" value="{{ moduleName }}">
				<input class="moduleConfigSave" type="submit" value="{{ langData.save }}">
			</form>
		</div>
	{% endfor %}
	<div class="toolbar">
		<span class="toolbarButton" id="openModuleStore">
			<i class="fas fa-download"></i>
		</span>
		<span class="toolbarButton" id="closeModuleStore">
			<i class="fas fa-times-circle"></i>
		</span>
	</div>
	<div class="modulesStore" id="modulesStore">
	</div>
	<div class="modulesPane" id="modulesPane">
	{% for moduleName, module in modules.items() %}
		<div class="moduleTile" id="{{ moduleName }}-{{ module.author }}">
			<div class="moduleTitle">
				<div class="moduleName">{{ moduleName }}</div>
			</div>
			<div class="moduleContainer moduleDefaultView">
				<div class="moduleAuthor">
					<i class="fas fa-user-cog fa-pull-left"></i> {{ module.author }}
				</div>
				<div class="moduleVersion">
					<i class="fas fa-code-branch fa-pull-left"></i> {{ module.version }}
				</div>
				<div class="moduleStatus {% if module.active is sameas true %}active{% else %}disabled{% endif %}">
					{{ langData.status }}: {% if module.active is sameas true %}enabled{% else %}disabled{% endif %}
				</div>
				<div class="moduleViewIntents">
					 {{ langData.viewIntents }} <i class="fas fa-eye"></i>
				</div>
				{% if module.getModuleConfigs()|length %}
					<div class="moduleSettings" data-forModule="{{ moduleName }}">
						{{ langData.moduleSettings }} <i class="fas fa-cog"></i>
					</div>
				{% endif %}
				<div class="moduleActions">
					<div class="moduleButton"{% if module.required is sameas true %} style="display: none;"{% endif %} id="toggle_{{ moduleName }}">
						{% if module.active is sameas true %}
							{{ langData.disable }}
						{% else %}
							{{ langData.enable }}
						{% endif %}
					</div>
					<div class="moduleButton"{% if module.required is sameas true %} style="display: none;"{% endif %} id="delete_{{ moduleName }}">
						{{ langData.delete }}
					</div>
					{% if module.updateAvailable is sameas true %}
						<div class="moduleButton" id="update_{{ moduleName }}">
							{{ langData.updatee }}
						</div>
					{% endif %}
				</div>
			</div>
			<div class="moduleContainer moduleIntentsView">
				<div class="moduleIntentsViewCloseButton">
					<i class="fas fa-times-circle"></i>
				</div>
				<div class="modulesIntentsViewList">
					{% for intent in module.supportedIntents %}
						{% if not 'Dummy' in intent %}
							<div class="intentTopic" title="{{ module.getUtterancesByIntent(intent, true, true)|random }}">{{ intent.justTopic }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}