{% extends 'base.html' %}

{% block title %}
	{{ langData.myHome }}
{% endblock %}

{% block loaders %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/myHome.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery.connections.js') }}"></script>
	<script src="{{ url_for('static', filename='js/myHome.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.myHome }}
{% endblock %}

{% block content %}

	<div class="hidden" id="langNoConf">{{ langData.noConfs }}</div>
	<div class="hidden" id="langSave">{{ langData.save }}</div>
	<div class="hidden" id="langSaving">{{ langData.saving }}</div>
	<div class="hidden" id="langSaved">{{ langData.saved }}</div>
	<div class="hidden" id="langSaveFailed">{{ langData.saveFailed }}</div>
	<div class="hidden" id="langConfMoveDevice">{{ langData.confMoveDevice }}</div>
	<div class="hidden" id="langConfDeleteDevice">{{ langData.confDeleteDevice }}</div>
	<div class="hidden" id="langConfDeleteZone">{{ langData.confDeleteZone }}</div>
	<div class="hidden" id="langNameNewZone">{{ langData.nameNewZone }}</div>
	<div class="stick-top-right">
		<div class="toolbar initialHidden" id="toolbarConstruction">
			<span class="toolbarButton link-hover" id="addZone" title="Add Location">
				<i class="fas fa-plus-circle" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="painter" title="Paint the floor">
				<i class="fas fa-paint-roller" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="builder" title="Add walls, doors..">
				<i class="fas fa-hard-hat" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="decorator" title="Decoration">
				<i class="fas fa-couch" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="locationMover" title="Position rooms">
				<i class="fas fa-arrows-alt" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="locationSettings" title="Room Settings">
				<i class="fas fa-sliders-h" aria-hidden="true"></i>
			</span>
		</div>
		<div class="toolbar initialHidden" id="toolbarTechnic">
			<span class="toolbarButton link-hover" id="deviceInstaller" title="Add devices">
				<i class="fas fa-plus-circle" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="deviceLinker" title="Link a device with multiple rooms">
				<i class="fas fa-link" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="deviceMover" title="Position devices">
				<i class="fas fa-arrows-alt" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="deviceSettings" title="Device Settings">
				<i class="fas fa-sliders-h" aria-hidden="true"></i>
			</span>
		</div>
		<div class="toolbar initialHidden" id="toolbarOverview">
			<span class="toolbarButton link-hover" id="backup" title="Backup My Home">
				<i class="fas fa-download" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="toolbarTechnicShow" title="Manage devices">
				<i class="fas fa-plug" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="toolbarConstructionShow" title="Manage Locations">
				<i class="fas fa-map-marked-alt" aria-hidden="true"></i>
			</span>
			<span class="toolbarButton link-hover" id="finishToolbarAction" title="Save">
				<i class="far fa-save" aria-hidden="true"></i>
			</span>
		</div>
		<div class="toolbar" id="toolbarToggle" style="display: block;">
			<span class="toolbarButton link-hover" id="toolbarOverviewShow" title="Open Toolbar">
				<i class="fas fa-pen-square" aria-hidden="true"></i>
			</span>
		</div>
	</div>
	<div class="tileContainer initialHidden tileholder" id="constructionTiles"></div>
	<div class="tileContainer initialHidden tileholder" id="painterTiles"></div>
	<div class="tileContainer initialHidden tileholder" id="decoTiles"></div>
	<div class="tileContainer initialHidden tileholder" id="deviceTiles"></div>
	<div class="floorPlan" id="floorPlan"></div>
	<div class="sidebar right" id="settings"></div>
{% endblock %}
