{% extends 'base.html' %}

{% block title %}
	{{ langData.admin }}
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/scenarios.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.scenarios }}
{% endblock %}

{% block content %}
	<div class="scenariosContainer">
		<dl class="scenariosTilesHolder">
			<dt>Events</dt>
			{% for tile in tiles['events'].values() %}
				<dd data-type="events">
					{{ tile.name }}
				</dd>
			{% endfor %}
			<dt>Actions</dt>
			{% for tile in tiles['actions'].values() %}
				<dd data-type="actions">
					{{ tile.name }}
				</dd>
			{% endfor %}
			<dt>Conditions</dt>
			{% for tile in tiles['conditions'].values() %}
				<dd data-type="conditions">
					{{ tile.name }}
				</dd>
			{% endfor %}
			<dt>Loops</dt>
			{% for tile in tiles['loops'].values() %}
				<dd data-type="loops">
					{{ tile.name }}
				</dd>
			{% endfor %}
			<dt>Vars</dt>
			{% for tile in tiles['vars'].values() %}
				<dd data-type="vars">
					{{ tile.name }}
				</dd>
			{% endfor %}
		</dl>
		<div class="scenariosProgramHolder" id="program">
		</div>
	</div>
{% endblock %}
