{% extends 'base.html' %}

{% block header %}
	{% block title %}Snips Watch{% endblock %}
{% endblock %}

{% block content %}
	<script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
	<script type=text/javascript>
		let $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		function refreshData(type) {
		    let container = $('#console');
			$.get($SCRIPT_ROOT + '/snipswatch/' + type, function(data) {
				for (let i = 0; i < data.data.length; i++) {
                    container.append(
                        '<span class="logLine">' + data.data[i] + '</span>'
                    );
                }
			})
				.always(function(data) {
					container.scrollTop(container.prop('scrollHeight'))
				});
		}
		$(document).ready(
		    function() {
		        refreshData('refresh');
				setInterval(function() {
				    refreshData('update')
				}, 500)
			}
		)
	</script>
	<div class="console" id="console">
	</div>
{% endblock %}