{% extends 'base.html' %}

{% block header %}
	{% block title %}Snips Watch{% endblock %}
{% endblock %}

{% block content %}
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/snipswatch.js') }}"></script>
	<div class="autoscrollBar">
		<i id="emptyCheckbox" class="far fa-square fa-pull-left"></i><i id="checkedCheckbox" class="far fa-check-square fa-pull-left"></i> {{ langData.followLogs }}
	</div>
	<div class="console" id="console">
	</div>
{% endblock %}