{% extends 'base.html' %}

{% block title %}
	Snips Watch
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/snipswatch.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	Snips Watch
{% endblock %}

{% block content %}
	<div class="toolBar">
		<div class="autoscrollButton">
			<i id="emptyCheckbox" class="far fa-square fa-pull-left"></i><i id="checkedCheckbox" class="far fa-check-square fa-pull-left"></i> {{ langData.followLogs }}
		</div>
		<div class="verbosityButtons">
			<i class="fas fa-thermometer-empty" data-verbosity="0"></i>
			<i class="fas fa-thermometer-quarter" data-verbosity="1"></i>
			<i class="fas fa-thermometer-half snipswatchActiveVerbosity" data-verbosity="2"></i>
			<i class="fas fa-thermometer-three-quarters" data-verbosity="3"></i>
			<i class="fas fa-thermometer-full" data-verbosity="4"></i>
		</div>
	</div>
	<div class="console" id="console">
	</div>
{% endblock %}
