{% extends 'base.html' %}

{% block title %}
	Syslog
{% endblock %}

{% block loaders %}
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/syslog.js') }}"></script>
{% endblock %}

{% block pageTitle %}
	{{ langData.syslog }}
{% endblock %}

{% block content %}
	<div class="stick-top-right">
		<div class="toolbar">
			<div class="toolbarButton" id="stopScroll">
				<i class="fas fa-pause-circle"></i>
			</div>
			<div class="toolbarButton" id="startScroll" style="display:none">
				<i class="fas fa-play-circle"></i>
			</div>
		</div>
	</div>
	<div class="console" id="console">
	</div>
{% endblock %}
