@import "widgetsize.css";

/* ========================== VARIABLES ========================== */
/* Not used in for example in .console*/
:root {
/* COLOR */
  --hover: yellow;
  --mainBG: #1e1e1e;
  --windowBG: #636363;
  --secondary: #343434;
  --accent: black;
  --text: #d1d1d1;
/* TEXT */
  --short: 'marskeregular', Arial, sans-serif;
  --long:'neogreyregular', Arial, sans-serif;
}
/* ============================ FONTS ============================ */
@font-face {font-family: 'marskeregular';font-weight: normal;font-style: normal;
	src: url('../webfonts/marske-webfont.woff2') format('woff2'),url('../webfonts/marske-webfont.woff') format('woff');}

@font-face {font-family: 'neogreyregular';font-weight: normal;font-style: normal;
	src: url('../webfonts/neogreyregular-webfont.woff2') format('woff2'),url('../webfonts/neogreyregular-webfont.woff') format('woff');}

/* ========================= BUILT IN TAGS ======================== */
html, body { background-color: var(--accent);color: var(--text);font-family: var(--short);
	width: 100%; height: 100%; overflow: hidden; margin: 0;display: flex; flex-flow: column;}
header { background-color: var(--mainBG);width:100%; height: 3em; margin: .125em;display: flex; flex-shrink: 0; }
nav { background-color: var(--mainBG); width: 9.4em; flex-shrink: 0; margin-left: .125em; }
main { background-color: var(--mainBG); flex-grow: 1; position: relative;	margin-left: 2px;  flex-flow: column; }
a:link, a:visited, a:active { text-decoration: none; color: var(--text); }
a:hover {color: var(--hover); }
input, select { background-color: var(--mainBG); color: var(--text);border: 1px dotted #636363; outline: none; box-sizing:content-box;
	width: auto; padding: 5px; margin-left: 20px; margin-right: 20px;}
input:hover { border: dotted 1px; }
input[type='text'], input[type='password'], input[type='number'], select { width: auto; }
input:focus { border: yellow dotted 1px;}

/* ======================= COLOR MARKINGS ======================== */
.red, .disabled, .warning { color: red; }
.green { color: green; }
.yellow, .active { color: yellow; }

/*logscreen*/
.logInfo { color: #d1d1d1; }
.logWarning { color: orange; }
.logError { color: red; }
.logYellow { color: yellow; }

/* =========================== GENERAL =========================== */
.stick-top-right{ position: absolute; top: 0; right: 0; z-index: 99; }

.link-hover:hover{cursor: pointer;color: var(--hover);}
.button-hover:hover, .button:hover {cursor: pointer;color: var(--hover);background-color: #636363;}
.tabsContainer li:hover { cursor: pointer; color: var(--hover); background-color: #1e1e1e;}

/* ========================== NAVIGATION ========================= */
.mainMenuList {	list-style-type: none; margin: 0; padding: 0; }
.mainMenuListItem { font-size: 1.5em; background-color: #343434;
	height: 50px; width: 130px; margin: 5px; padding-left: 10px;display: flex; align-items: center;  }

.pageTitle { font-size: 2em;margin-left: 1em; align-items: center;display: flex; flex-grow: 1;}
.updateChannelMarker { font-style: italic;margin: 0 .9em; align-items: center;display: flex; }

.page {	flex: 1 100%; flex-flow: row nowrap; display: flex; }

.toolbar { background: var(--mainBG);display: flex; float: right;padding-top: .2em; padding-left: 1em;
	border: solid 2px; border-bottom-left-radius: 1.5em; border-top: none;border-color: var(--accent);}
.toolbarButton { font-size: 2em; padding-right: .5em; min-width: .9em; text-align: center;}

/* Utility screen for administration */
.utility {width: 12em;height: 12em;background-color: var(--windowBG);margin-left: 1.5em;margin-top: 1.5em;padding: .4em;}
.utilityIcon {text-align: center;font-size: 5em;margin-top: .2em;}
.utilityText {font-size: 1.25em;margin: .3em;text-align: center;}

/* console and logging */
/* using color markings as defined above */
.console {height: 85%;margin: 1em;padding: 1em;background-color: black;color: #d1d1d1;overflow-y: scroll;overflow-x: hidden;}
.logLine { display: block; }

::-webkit-scrollbar {width: 8px; background-color: var(--accent);}
::-webkit-scrollbar-thumb {background-color: var(--secondary);}

/*Home-Screen and Widget*/
.widgetsPane {height: 100%;width: 100%;margin: 5px;}
.widgetDelete, .widgetConfig {position: absolute;z-index: 97;font-size: 3em;background-color: #1e1e1e;
    top: .1em;left: .1em;width: 1.1em;height: 1.1em;border-radius: 10em;text-align: center;padding: .08em .02em .02em;}
.addWidgetCategory {width: 100%;background-color: var(--windowBG); font-family: var(--short)}
.addWidgetCategoryTitle {height: 1.7em;padding-left: 15px;
	background-color: var(--secondary);color: var(--text);font-size: 1.6em;display: flex;align-items: center;}
.addWidgetLine {height: 1.2em;margin-top: .3em;font-size: 1.2em;display: flex;align-items: center;}
.addWidgetName {float: left;margin-left: 1em;}
.addWidgetCheck {float: right;color: var(--text);margin-right: .4em;}

.widget {display: block;box-shadow: 0 0 20px 5px #141414;background-color: var(--windowBG);cursor: pointer;overflow: hidden;}
.widgetIcons {font-size: 1.5em;display: flex;align-items: flex-start;}
.widgetIcon {display: flex;flex-grow: 1;}

.widget .widgetIcon:nth-child(2) {
	display: none;
	flex-grow: 1;
	justify-content: flex-end;
}

.widgetOptions {}

.tabsContent {
	display: flex;
	font-family: var(--long);
	font-size: 0.8em;
	color: #d1d1d1;
	padding-left: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.centered {width: 100%;display: flex;align-items: center;justify-content: center;}
.full-stretch {width: 100%;height: 100%;min-height: 100%;display: flex;align-items: stretch;}

.tabsContainer {
	color: #d1d1d1;
	margin: 5px 5px 0 5px;
	padding-bottom: 5px;
	border: 2px solid #343434;
	border-top: none;
	display: flex;
	flex-direction: column;
}


.tabsContainer ul {
	display: flex;
	align-content: flex-start;
	height: 50px;
	background-color: #343434;
	margin-top: 0;
	padding-left: 5px;
}

.tabsContainer li {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #5c5c5c;
	height: 45px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 5px 5px 0 0;
	border: 2px solid #1e1e1e;
	border-bottom: 0;
	color: #d1d1d1;
	font-size: 1.25em;
}


.tabsContainer .activeTab {	background-color: var(--mainBG);}

.fill-vertical {align-self: stretch;flex-basis: auto;height: calc(100vh - 4em);}

.skillsStore {margin: .1em;overflow-y: auto;overflow-x: hidden;display: none;flex-wrap: wrap;align-content: flex-start;}

.contentLoadingAnimation {width: 100%;font-size: 10em;text-align: center;margin-top: 1em;}

.skillStoreSkillTile {background-color: var(--windowBG);width: 18.75em;height: 18.75em;margin: .6em;
	display: flex;flex-wrap: wrap;align-content: flex-start;position: relative;}

.skillsStoreSkillInfoContainer {margin-top: .4em;display: flex;width: 100%;}
.skillsStoreSkillLeft {width: 50%;}
.skillsStoreSkillRight {
	display: flex;
	width: 50%;
	margin-right: 5px;
	align-items: center;
	justify-content: flex-end;
	font-size: 3.5em;
}

.skillsStoreSkillTitle {
	background-color: var(--secondary);
	height: 1.4em;
	width: 100%;
	display: flex;
	align-items: center;
	padding: .3em;
	font-size: 1.25em;
	box-sizing: border-box;
}

.skillsPane {margin: .2em;overflow-y: auto;overflow-x: hidden;display: flex;flex-wrap: wrap;align-content: flex-start;}
.skillsStoreSkillAuthor,.skillsStoreSkillVersion,.skillsStoreSkillCategory,.skillVersion,
.spaced{margin: .2em;}

.skillTile {background-color: var(--windowBG);width: 18.75em;height: 13em;margin: .6em;
	display: flex;flex-wrap: wrap;align-content: flex-start;box-shadow: 0 0 20px 5px #141414;}

.skillStoreSkillDescription {background-color: var(--secondary);font-family: var(--long);font-size: 0.75em;
	width: 100%;height: 10em;margin: .5em;padding: .5em;box-sizing: border-box;overflow-x: hidden;	overflow-y: auto;}
/*.skillStoreSkillButton{background-color: var(--secondary);font-size: 2em;
	display: flex;height: 1.5em;width: 50%;margin: .2em auto auto auto;align-items: center;justify-content: center;}
*/
.skillContainer {position: relative;flex-wrap: wrap;align-content: flex-start;height: 11.3em;margin: .2em;}
.skillDefaultView {display: flex;}
.skillIntentsView {width:100%;overflow-x: hidden;overflow-y: auto;}

.skillTitle {background-color: var(--secondary);height: 1.5em;width: 100%;padding: 0 .4em;display: flex;align-items: center;justify-content: space-between;overflow: hidden;}
.skillStatus {width: 100%;margin-top: 10px;margin-left: 4px;}
.skillName {overflow: hidden;font-size: 1.25em;}
.skillActions {display: flex;width: 100%;position: absolute;bottom: .1em;}

.skillViewIntents,
.skillSettings {width: 100%;margin: .2em;text-align: right;}

.button,
.skillButton {background-color: var(--secondary);color: var(--text);height: 2.5em;margin: .1em;overflow: hidden;
	display: flex;flex-basis: 0;flex-grow: 1;align-items: center;justify-content: center;text-align: center;}
.skillButtonIconOnly {font-size: 1.8em;}

.skillIntentsViewCloseButton {width: 100%;text-align: right;margin-top: 5px;margin-right: 5px;}
.skillsIntentsViewList {width: 100%;margin: 3px 5px 0 5px;}

.configBox {width: 100%;display: table;}
.configLine {width: 100%;display: table-row;height: 40px;}

.configLabel {display: table-cell;text-align: left;vertical-align: middle;overflow: hidden;cursor: pointer;width: 20%}
.configInput {display: table-cell;padding-left: 20px;text-align: left;vertical-align: middle;}
.buttonLine {display:flex;width:100%;}

/* Admin Auth */
.adminAuthDisplayUser {margin: 1em;height: 1.5em;font-family: var(--short);font-size: 2em;text-align: center;}
.adminAuthKeyContainer {margin-top: 25px;width: 100%;display: flex;justify-content: center;}
.adminAuthDisplayDigit {background-color: var(--secondary);color: var(--secondary);font-size: 4em;
    width: 1.5em;height: 1.5em;margin: 0.5em;display: flex;align-items: center;justify-content: center;}
.adminAuthDigitFilled {color: var(--text);background-color: var(--windowBG);}
.adminAuthKeyboardContainer {background-color: var(--windowBG);width: 20em;height: 27em;margin: 2em auto;display: flex;flex-wrap: wrap;}
.adminAuthKeyboardKey {background-color: var(--secondary);font-size: 2em;width: 2.5em;height: 2.5em;margin: .41em;display: flex;align-items: center;justify-content: center;}

/*======================== TECHNICAL OVERWRITES================== */
.initialHidden {display: none;}
.flex-row { overflow-y: auto;overflow-x: hidden;display: flex;flex-wrap: wrap;align-content: flex-start;}
