@import "widgetsize.css";
/* ========================== VARIABLES ========================== */
/* Not used in for example in .console*/
:root {
/* COLOR */
  --hover: yellow;
  --mainBG: #1e1e1e;
  --windowBG: #636363;
  --secondary: #343434;
  --accent: black;
  --text: #d1d1d1;
/* TEXT */
  --short: 'marskeregular', Arial, sans-serif;
  --long:'neogreyregular', Arial, sans-serif;
}
/* ============================ FONTS ============================ */
@font-face {font-family: 'marskeregular';font-weight: normal;font-style: normal;src: url('../webfonts/marske-webfont.woff2') format('woff2'),url('../webfonts/marske-webfont.woff') format('woff');}
@font-face {font-family: 'neogreyregular';font-weight: normal;font-style: normal;src: url('../webfonts/neogreyregular-webfont.woff2') format('woff2'),url('../webfonts/neogreyregular-webfont.woff') format('woff');}

/* ========================= BUILT IN TAGS ======================== */
html, body { background-color: var(--accent);color: var(--text);font-family: var(--short);width: 100%; height: 100%; overflow: hidden; margin: 0;display: flex; flex-flow: column;}
header { background-color: var(--mainBG);width:100%; height: 3em; margin: .125em;display: flex; flex-shrink: 0; }
nav { background-color: var(--mainBG); width: 9.4em; flex-shrink: 0; margin-left: .125em; }
main { background-color: var(--mainBG); flex-grow: 1; position: relative;	margin-left: 2px;  flex-flow: column; padding: .3em;}
a:link, a:visited, a:active { text-decoration: none; color: var(--text); }
a:hover {color: var(--hover); }
input, select { background-color: var(--mainBG); color: var(--text);border: 1px dotted #636363; outline: none; box-sizing:content-box;width: auto; padding: 5px; margin-left: 20px; margin-right: 20px;}
input:hover { border: dotted 1px; }
input[type='text'], input[type='password'], input[type='number'], select { width: auto; }
input:focus { border: yellow dotted 1px;}

/* ======================= COLOR MARKINGS ======================== */
.red, .disabled, .warning { color: red; }
.green { color: green; }
.yellow, .active { color: yellow; }

/*logscreen*/
.logInfo { color: var(--text); }
.logWarning { color: orange; }
.logError { color: red; }
.logYellow { color: yellow; }

/* =========================== GENERAL =========================== */
.link-hover:hover{cursor: pointer;color: var(--hover);}
.button:hover,
.tabsContainer li:hover {cursor: pointer;color: var(--hover);background-color: var(--mainBG);}

::-webkit-scrollbar {width: 8px; background-color: var(--accent);}
::-webkit-scrollbar-thumb {background-color: var(--secondary);}

/* line filled with buttons */
.buttonLine {display:flex;width:100%;}
.skillStoreSkillTile .buttonLine,
.skillTile .buttonLine {position: absolute;bottom: .1em;}

.button{background-color: var(--secondary);color: var(--text);height: 2.5em;margin: .1em;overflow: hidden;display: flex;flex-basis: 0;flex-grow: 1;align-items: center;justify-content: center;text-align: center;font-family: var(--short);border: none;}
input.button,
button.button{font-size: 1.6em;height: 2em;}
.buttonIconOnly {font-size: 1.8em;}

.fill-vertical {display: flex;flex-direction: column;align-self: stretch;flex-basis: auto;height: calc(100vh - 4em);}
.contentLoadingAnimation {width: 100%;font-size: 10em;text-align: center;margin-top: 1em;}

/* ========================== NAVIGATION ========================= */
.mainMenuList {	list-style-type: none; margin: 0; padding: 0; }
.mainMenuListItem {font-size: 1.5em;height: 2em;margin: .2em;padding-left: .4em;justify-content: flex-start;}

.pageTitle { font-size: 2em;margin-left: 1em; align-items: center;display: flex; flex-grow: 1;}
.updateChannelMarker { font-style: italic;margin: 0 .9em; align-items: center;display: flex; }

.page {	flex: 1 100%; flex-flow: row nowrap; display: flex; }

.toolbar { background: var(--mainBG);display: flex; float: right;padding-top: .2em; padding-left: 1em;border: solid 2px; border-bottom-left-radius: 1.5em; border-top: none;border-color: var(--accent);}
.toolbarButton { font-size: 2em; padding-right: .5em; min-width: .9em; text-align: center;}

/* Utility screen for administration */
.utility {width: 12em;height: 12em;flex-flow: column;align-items: center;}
.utilityIcon {text-align: center;font-size: 5em;margin-top: .4em; width: 100%;}
.utilityText {font-size: 1.25em;margin: .3em;text-align: center; width: 90%;}

/* console and logging */
/* using color markings as defined above */
.console {height: 85%;margin: 1em;padding: 1em;background-color: black;color: var(--text);overflow-y: scroll;overflow-x: hidden;}
.logLine { display: block; }

/*Home-Screen and Widget*/
.widgetsPane {height: 100%;width: 100%;margin: 5px;}
.widgetButton {position: absolute;z-index: 97;font-size: 3em;background-color: var(--accent);top: .1em;left: .1em;width: 1.05em;height: 1.05em;border-radius: 10em;text-align: center;padding: 0.07em .02em .02em .02em;}
.addWidgetCategory {width: 100%;background-color: var(--windowBG); font-family: var(--short)}
.addWidgetCategoryTitle {height: 1.7em;padding-left: 15px;background-color: var(--secondary);color: var(--text);font-size: 1.6em;display: flex;align-items: center;}
.addWidgetLine {height: 1.2em;margin-top: .3em;font-size: 1.2em;display: flex;align-items: center;}
.addWidgetName {float: left;margin-left: 1em;}
.addWidgetCheck {float: right;color: var(--text);margin-right: .4em;}

/* To use with custom Widgets! */
.widget {display: block;box-shadow: 0 0 20px 5px #141414;background-color: var(--windowBG);cursor: pointer;overflow: hidden;}
.widgetIcons {font-size: 1.5em;display: flex;align-items: flex-start;}
.widgetIcon {display: flex;flex-grow: 1;}
.widget .widgetIcon:nth-child(2) {display: none;flex-grow: 1;justify-content: flex-end;}
.widgetOptions {}

.centered {width: 100%;display: flex;align-items: center;justify-content: center;}
.full-stretch {width: 100%;height: 100%;min-height: 100%;display: flex;align-items: stretch;}

/* Tabs */
.tabsContainer {padding-bottom: .1em;border: 2px solid var(--secondary);}
.tabsContainer ul {display: flex;background-color: var(--secondary);margin-top: 0;padding-left: .4em;}
.tabsContainer li {background-color: var(--windowBG);font-size: 1.25em;height: 1.8em;padding: 0 .7em;margin: .3em .3em 0 0;display: inline-flex;align-items: center;box-sizing: border-box;border-radius: .3em .3em 0 0;border: 2px solid var(--accent);border-bottom: 0;}
.tabsContainer .activeTab {	background-color: var(--mainBG);}
.tabsContent {display: flex;overflow-y: auto;overflow-x: hidden;padding-left: .7em;}

.skillStoreSkillInfoContainer {margin-top: .4em;display: flex;width: 100%;flex-flow: row;}
.skillStoreSkillLeft {flex:1}
.skillStoreSkillRight {display: flex;margin-right: 5px;align-items: center;justify-content: flex-end;font-size: 3.5em;}

.skillStoreSkillAuthor,.skillStoreSkillVersion,.skillStoreSkillCategory,.skillVersion,
.spaced{margin: .2em;}

/* bigger icon for FA */
.spaced i {width:1.2em;}

/* Tile structure */
.tileContainer {margin: .2em;overflow-y: auto;overflow-x: hidden;display: flex;flex-wrap: wrap;align-content: flex-start;flex-direction: row;}
.tile {background-color: var(--windowBG);margin: .6em;display: flex;flex-wrap: wrap;align-content: flex-start;position: relative;box-shadow: 0 0 20px 5px #141414;}
.skillStoreSkillTile {width: 18.75em;height: 18.75em;}
.skillTile {width: 18.75em;height: 13em;}

.skillStoreSkillDescription {background-color: var(--secondary);font-family: var(--long);font-size: 0.75em;width: 100%;height: 10em;margin: .5em;padding: .5em;box-sizing: border-box;overflow-x: hidden;	overflow-y: auto;}

.skillContainer {position: relative;flex-wrap: wrap;align-content: flex-start;height: 11.3em;margin: .2em;}
.skillDefaultView {display: flex;}
.skillIntentsView {width:100%;overflow-x: hidden;overflow-y: auto;}

.skillTitle {background-color: var(--secondary);height: 1.5em;width: 100%;padding: 0 .4em;display: flex;align-items: center;justify-content: space-between;overflow: hidden;}
.skillStatus {width: 100%;margin-top: 10px;margin-left: 4px;}
.skillName {overflow: hidden;font-size: 1.25em;}

.skillViewIntents,
.skillSettings {width: 100%;margin: .2em;text-align: right;}

/* Configuration Screens */
.configBox {width: 100%;display: table;font-family:var(--long);font-size: .8em;}
.configLine {width: 100%;display: table-row;height: 40px;}

.configLabel {display: table-cell;text-align: left;vertical-align: middle;overflow: hidden;cursor: pointer;width: 20%}
.configInput {display: table-cell;padding-left: 20px;text-align: left;vertical-align: middle;}

/* Admin Auth */
.adminAuthDisplayUser {margin: 1em;height: 1.5em;font-family: var(--short);font-size: 2em;text-align: center;}
.adminAuthKeyContainer {margin-top: 25px;width: 100%;display: flex;justify-content: center;}
.adminAuthDisplayDigit {background-color: var(--secondary);color: var(--secondary);font-size: 4em;width: 1.5em;height: 1.5em;margin: 0.5em;display: flex;align-items: center;justify-content: center;}
.adminAuthDigitFilled {background-color: var(--windowBG);color: var(--text);}
.adminAuthKeyboardContainer {background-color: var(--windowBG);width: 20em;height: 27em;margin: 2em auto;display: flex;flex-wrap: wrap;}
.adminAuthKeyboardKey {font-size: 2em;margin: .41em;flex-basis: 2.5em;}

/* JQUERY POPUP */
.ui-widget-content {background: var(--mainBG);}
.ui-widget { padding: 0;}
/*======================== TECHNICAL OVERWRITES================== */
.flex-row { overflow-y: auto;overflow-x: hidden;display: flex;flex-wrap: wrap;align-content: flex-start;}
.initialHidden {display: none;}
.stick-top-right{ position: absolute; top: 0; right: 0; z-index: 99; }


