@import 'widgetsize.css';
/* ========================== VARIABLES ========================== */
/* Not used in for example in .console*/
:root {
/* COLOR */
  --hover: yellow;
  --mainBG: #1e1e1e;
  --windowBG: #636363;
  --secondary: #343434;
  --accent: black;
  --text: #d1d1d1;
/* TEXT */
  --short: 'marskeregular', Arial, sans-serif;
  --long: 'neogreyregular', Arial, sans-serif;
  --readable: 'Roboto', Arial, sans-serif;
}
/* ============================ FONTS ============================ */
@font-face { font-family: 'marskeregular'; font-weight: normal; font-style: normal; src: url('../webfonts/marske-webfont.woff2') format('woff2'),url('../webfonts/marske-webfont.woff') format('woff'); }
@font-face { font-family: 'neogreyregular'; font-weight: normal; font-style: normal; src: url('../webfonts/neogreyregular-webfont.woff2') format('woff2'),url('../webfonts/neogreyregular-webfont.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-weight: normal; font-style: normal; src: url('../webfonts/Roboto-Regular.eot'); src: url('../webfonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../webfonts/Roboto-Regular.woff2') format('woff2'), url('../webfonts/Roboto-Regular.woff') format('woff'), url('../webfonts/Roboto-Regular.ttf') format('truetype'), url('../webfonts/Roboto-Regular.svg#Roboto-Regular') format('svg'); }

/* ========================= BUILT IN TAGS ======================== */
html, body { background-color: var(--accent); color: var(--text); font-family: var(--short); width: 100%; height: 100%; overflow: hidden; margin: 0; display: flex; flex-flow: column; -moz-user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -khtml-user-select: none; }
header { background-color: var(--mainBG); width: 100%; height: 3em; margin: .125em; display: flex; flex-shrink: 0; align-items: center;}
nav { background-color: var(--mainBG); width: 9.4em; flex-shrink: 0; margin-left: .125em; }
main { background-color: var(--mainBG); flex-grow: 1; position: relative; margin-left: 2px;  flex-flow: column; padding: .3em; }
a:link, a:visited, a:active { text-decoration: none; color: var(--text); }
a:hover { color: var(--hover); }
input, select, textarea { background-color: var(--mainBG); color: var(--text); border: 1px dotted #636363; outline: none; box-sizing: content-box; width: auto; padding: 5px; margin-left: 20px; margin-right: 20px; }
input:hover, textarea:hover { border: dotted 1px; }
input[type='text'], input[type='password'], input[type='number'], select, textarea { width: auto; }
textarea { min-height: 200px; }
input:focus, textarea:focus { border: var(--hover) dotted 1px; }

/* ======================= COLOR MARKINGS ======================== */
.red, .disabled, .warning, .saveFailed, .logError, .logRed { color: red; }
.green, .saved, .logGreen { color: green; }
.yellow, .active, .saving, .logYellow { color: yellow; }

/*logscreen*/
.logInfo { color: var(--text); }
.logWarning { color: orange; }
.logBlue { color: blue; }
.logGrey { color: grey; }
.logOrange { color: orange; }
.logDefault { color: var(--text); }
.logBold { font-weight: 900; }
.logDim { font-weight: lighter; font-style: italic; }
.logUnderlined { text-decoration: underline; }

/* =========================== GENERAL =========================== */
.serverUnavailable { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0, 0, 0, 0.75); width: 100%; height: 100%; z-index: 100000000; color: var(--text); font-size: 2em; text-align: center; padding-top: 10em; box-sizing: border-box; }

.hidden { display: none; }

.link-hover:hover{ cursor: pointer; color: var(--hover); }
.button:hover,
.tabsContainer li:hover { cursor: pointer; color: var(--hover); background-color: var(--mainBG); }

::-webkit-scrollbar { width: 8px; background-color: var(--accent); }
::-webkit-scrollbar-thumb { background-color: var(--secondary); }

.ui-widget-shadow {
	-webkit-box-shadow: 0 0 20px 5px var(--secondary);
	box-shadow: 0 0 8px 5px var(--secondary);
}

/* line filled with buttons */
.buttonLine { display: flex; width: 100%; }
.skillStoreSkillTile .buttonLine,
.skillTile .buttonLine { position: absolute; bottom: .1em; }

.button{ background-color: var(--secondary); color: var(--text); height: 2.5em; margin: .1em; overflow: hidden; display: flex; flex-basis: 0; flex-grow: 1; align-items: center; justify-content: center; text-align: center; font-family: var(--short); border: none; box-sizing: content-box; }
input.button,
button.button{ font-size: 1.6em; height: 2em; }
.buttonIconOnly { font-size: 1.8em; }

.fill-vertical { display: flex; flex-direction: column; align-self: stretch; flex-basis: auto; height: calc(100vh - 4em); }
.contentLoadingAnimation { width: 100%; font-size: 10em; text-align: center; margin-top: 1em; }

/* ========================== NAVIGATION ========================= */
.mainMenuList {	list-style-type: none; margin: 0; padding: 0; }
.mainMenuListItem { font-size: 1.5em; height: 2em; margin: .2em; padding-left: .4em; justify-content: flex-start; }

.pageTitle { font-size: 2em; margin-left: 1em; align-items: center; display: flex; width: 7.4em;}
.aliceStatus { flex-grow: 1; }
.updateChannelMarker { font-style: italic; margin: 0 .9em; align-items: center; display: flex; }

.page {	flex: 1 100%; flex-flow: row nowrap; display: flex; }

.toolbar { background: var(--mainBG); display: flex; float: right; clear: both; padding-top: .2em; padding-left: 1em; border: solid 2px; border-bottom-left-radius: 1.5em; border-top: none; border-color: var(--accent); }
.toolbarButton { font-size: 2em; padding-right: .5em; min-width: .9em; text-align: center; }

.zindexer { position: absolute; top: 15px; right: 15px; color: var(--accent); font-weight: bold; font-size: 1.3em; z-index: 999; cursor: pointer; }
[class^='zindexer-']:hover { color: var(--hover); }

/* Utility screen for administration */
.utility { width: 12em; height: 12em; flex-flow: column; align-items: center; }
.utilityIcon { text-align: center; font-size: 5em; margin-top: .4em; width: 100%; }
.utilityText { font-size: 1.25em; margin: .3em; text-align: center; width: 90%; }

/* console and logging */
/* using color markings as defined above */
.console { position: absolute; top: 20px; bottom: 40px; left: 20px; right: 20px; padding: 1em; background-color: black; color: var(--text); overflow-y: scroll; overflow-x: hidden; font-family: var(--readable); }
.log { display: inline-block; }
.logLine { display: flex; font-family: var(--readable); font-size: 0.9em; margin: 2px 0 2px 0; align-items: flex-start; }

/*Home-Screen and Widget*/
.widgetsPane { height: 100%; width: 100%; margin: 5px; }
.widgetButton { position: absolute; z-index: 97; font-size: 3em; background-color: var(--accent); top: .1em; left: .1em; width: 1.05em; height: 1.05em; border-radius: 10em; text-align: center; padding: 0.07em .02em .02em .02em; }
.addWidgetCategory { width: 100%; background-color: var(--windowBG); font-family: var(--short)}
.addWidgetCategoryTitle { height: 1.7em; padding-left: 15px; background-color: var(--secondary); color: var(--text); font-size: 1.6em; display: flex; align-items: center; }
.addWidgetLine { height: 1.2em; margin-top: .3em; font-size: 1.2em; display: flex; align-items: center; }
.addWidgetName { float: left; margin-left: 1em; }
.addWidgetCheck { float: right; color: var(--text); margin-right: .4em; }

/* To use with custom Widgets! */
.widget { display: block; box-shadow: 0 0 20px 5px #141414; background-color: var(--windowBG); cursor: default; overflow: hidden; }
.widgetIcons { font-size: 1.5em; display: flex; align-items: flex-start; }
.widgetIconsHidden .widgetIcons { display: none; }
.widgetIcon { display: flex; flex-grow: 1; }
.widget .widgetIcon:nth-child(2) { display: none; flex-grow: 1; justify-content: flex-end; }

.centered { width: 100%; display: flex; align-items: center; justify-content: center; }
.full-stretch { width: 100%; height: 100%; min-height: 100%; display: flex; align-items: stretch; }

/* Tabs */
.tabsContainer { padding-bottom: .1em; border: 2px solid var(--secondary); }
.tabsContainer ul { display: flex; background-color: var(--secondary); margin-top: 0; padding-left: .4em; }
.tabsContainer li { background-color: var(--windowBG); font-size: 1.25em; padding: .2em .7em; margin: .3em .3em 0 0; display: inline-flex; align-items: center; box-sizing: border-box; border-radius: .3em .3em 0 0; border: 2px solid var(--accent); border-bottom: 0; }
.tabsContainer .activeTab {	background-color: var(--mainBG); }
.tabsContent { display: flex; overflow-y: auto; overflow-x: hidden; padding-left: .7em; }

.skillStoreSkillInfoContainer { margin-top: .4em; display: flex; width: 100%; flex-flow: row; }
.skillStoreSkillLeft { flex: 1 }
.skillStoreSkillRight { display: flex; margin-right: 5px; align-items: center; justify-content: flex-end; font-size: 3.5em; }

.skillStoreSkillAuthor,.skillStoreSkillVersion,.skillStoreSkillCategory,.skillVersion,
.spaced{ margin: .2em; }

/* bigger icon for FA */
.spaced i { width: 1.2em; }

/* Tile structure */
.tileContainer { margin: .2em; overflow-y: auto; overflow-x: hidden; display: flex; flex-wrap: wrap; align-content: flex-start; flex-direction: row; }
.tile { background-color: var(--windowBG); margin: .6em; display: flex; flex-wrap: wrap; align-content: flex-start; position: relative; box-shadow: 0 0 20px 5px #141414; }
.skillStoreSkillTile { width: 18.75em; height: 18.75em; }
.skillTile { width: 18.75em; height: 13em; }

.skillStoreSkillDescription { background-color: var(--secondary); font-family: var(--long); font-size: 0.75em; width: 100%; height: 10em; margin: .5em; padding: .5em; box-sizing: border-box; overflow-x: hidden;	overflow-y: auto; }

.skillContainer { position: relative; flex-wrap: wrap; align-content: flex-start; height: 11.3em; margin: .2em; }
.skillDefaultView { display: flex; }
.skillIntentsView { width: 100%; overflow-x: hidden; overflow-y: auto; }

.skillTitle { background-color: var(--secondary); height: 1.5em; width: 100%; padding: 0 .4em; display: flex; align-items: center; justify-content: space-between; overflow: hidden; }
.skillStatus { width: 100%; margin-top: 10px; margin-left: 4px; }
.skillName { overflow: hidden; font-size: 1.25em; }

.skillViewIntents,
.skillSettings { width: 100%; margin: .2em; text-align: right; }

/* Configuration Screens */
.configBox { width: 100%; display: table; font-family: var(--long); background-color: var(--secondary); border-spacing: 0 10px; }
.configCategory { width: 100%; display: table; margin-bottom: 30px; font-family: var(--long); background-color: var(--secondary); border-spacing: 0 10px; }
.configLine { width: 100%; display: table-row; }

.configLine input, select, textarea { width: 500px; }

.configCategoryTitle { display: table-caption; padding: 10px; text-align: left; vertical-align: middle; background-color: var(--windowBG); font-size: 1.3em; text-transform: uppercase; }
.configLabel { display: table-cell; min-width: 250px; padding: 0 10px 0 10px; text-align: left; vertical-align: top; overflow: hidden; cursor: pointer; }
.configInput { display: table-cell; width: 100%; padding-left: 20px; padding-right: 5px; text-align: left; vertical-align: top; }
.configOutput { position: relative; display: block; left: 48%; top: -10px; width: 50px; margin: 0; padding: 0; }

/* Admin Auth */
.adminAuthDisplayUser { margin: 1em; height: 1.5em; font-family: var(--short); font-size: 2em; text-align: center; }
.adminAuthKeyContainer { margin-top: 25px; width: 100%; display: flex; justify-content: center; }
.adminAuthDisplayDigit { background-color: var(--secondary); color: var(--secondary); font-size: 4em; width: 1.5em; height: 1.5em; margin: 0.5em; display: flex; align-items: center; justify-content: center; }
.adminAuthDigitFilled { background-color: var(--windowBG); color: var(--text); }
.adminAuthKeyboardContainer { background-color: var(--windowBG); width: 20em; height: 27em; margin: 2em auto; display: flex; flex-wrap: wrap; }
.adminAuthKeyboardKey { font-size: 2em; margin: .41em; flex-basis: 2.5em; }

/* My home */
.floorPlan { position: absolute; top: 100px; bottom: 25px; left: 5px; right: 5px; background: var(--secondary); overflow: hidden; }
.floorPlanEditMode { background: var(--secondary) url('./images/grid.png'); }
.floorPlanEditMode-AddingZone { cursor: cell; }

.sidebar.right { position: absolute; top: 0; right: -290px; bottom: 0; width: 270px; background: var(--windowBG); border-left: solid var(--accent); overflow-y: auto; padding: 5em 1em 1em 1em;}
.sidebar input {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}
.sidebar .configLine {
    display: flex;
}
.sidebar .configCategoryTitle{
	display: block;
}
.sidebar .linkTitle{
    display:block;
}
.wiggly { animation: wiggle 2s linear infinite; }

/* Keyframes */
@keyframes wiggle {
  0%, 7% { transform: rotateZ(0); }
  15% { transform: rotateZ(-15deg); }
  20% { transform: rotateZ(10deg);}
  25% { transform: rotateZ(-10deg); }
  30% { transform: rotateZ(6deg); }
  35% { transform: rotateZ(-4deg); }
  40%, 100% { transform: rotateZ(0); }
}
.configListCurrent li{list-style-type: none;}
.configBlock{background: var(--secondary);border: var(--accent);border-style: dotted;}
.configBlock .configLabel{ display: block; vertical-align: top;}
.configListAdd {display: inline;font-size: 2em;vertical-align: middle;}

.waiting::after { font-family: 'Font Awesome 5 Free', sans-serif; content: '\f110';
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
   -webkit-animation: fa-spin 2s infinite linear;
   animation: fa-spin 2s infinite linear;
}

.after_big::after {
    font-size: 5em;
    text-align: center;
    display: block;
    margin: 1em;
}

/* JQUERY POPUP */
.ui-widget-content { background: var(--mainBG); }
.ui-widget { padding: 0; border-radius: 0; }
.ui-widget.ui-widget-content{ border: 2px solid var(--accent); }
.ui-dialog-titlebar{ border-radius: 0; border: solid 2px var(--accent); margin: -2px; }

.ui-widget .configLabel { flex: 1; min-width: 1%; }
.ui-widget .configInput { flex: 1; min-width: 1%; }
.ui-widget .configLine { flex: 1; display: flex; }
.ui-widget form { flex: 1; display: flex; flex-direction: column; align-items: stretch; }
.tabsContent .tabPage { flex-direction: row; align-items: stretch; width: 100%; }
.ui-widget .configLine input, select { min-width: 10%; width: unset; }


/*======================== TECHNICAL OVERWRITES================== */
.flex-row { overflow-y: auto; overflow-x: hidden; display: flex; flex-wrap: wrap; align-content: flex-start; }
.initialHidden { display: none; }
.stick-top-right{ position: absolute; top: 0; right: 0; z-index: 99; }

.installed{ display: none; }
.notInstalled{ display: block; }

.saveFailed { background: red !important; }
.saved { background: green !important; }
.saving { background: yellow !important; }
