# This workflow will install Python dependencies and run tests with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unittest & Quality

on:
  push:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        uses: py-actions/py-dependency-install@v2
        with:
          path: requirements.txt
      - name: Install test dependencies
        uses: py-actions/py-dependency-install@v2
        with:
          path: requirements_test.txt
      - name: Install Portaudio
        run: sudo apt-get install libportaudio2
      - name: Tests
        run: pytest tests/ --cov=core/ --cov-report=xml
      - name: Fix paths
        run: sed -i 's/\/home\/runner\/work\/ProjectAlice\/ProjectAlice\//\/github\/workspace\//g' coverage.xml
      - name: Sonarcloud scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
